
body {
    margin: 0;
    padding: 0;
    background-image: url('0.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body,html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.stopwatch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    
}

#display {
    font-size: 20em;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.5em;
}
